* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(22, 22, 22);
}

@keyframes attention {
  0% {
    opacity: 0.38;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.38;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
}

body {

}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  padding: 0rem 6px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px rgba(1,1,1,0.3);
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.52);
  animation: all 0.3s;
}

button i {
  color: white;
  font-size: 2rem;
}

button:hover {
  background-color: rgb(100, 23, 172);
}

.highlight {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

header {
  width: 40rem;
  max-width: 95%;
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1.2rem;
}

header p {
  color: grey;
  animation: attention 1s infinite linear;
  margin-top: 1rem;
}

li {
  list-style: none;
}

.tools-container {
  width: 30rem;
  max-width: 95%;
  /* background-color: tomato; */
  margin: 1rem auto;
}

.main-form {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-form * {
  margin: 1rem 0rem;
}

.main-form input {
  height: 2.8rem;
  font-size: 1.5rem;
  width: 70%;
  /* max-width: 20rem; */
}

.main-form button {
  width: 30%;
  padding: 0 1rem;
  height: 2.8rem;
  border-radius: 0px;
}

.tools-btns {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

.clear {
  height: 3rem;
  width: 25%;
}

.delete {
  height: 3rem;
  width: 50%;
}

.save {
  height: 3rem;
  width: 15%;
}

.list-container {
  cursor: pointer;
  user-select: none;
  width: 30rem;
  max-width: 95%;
  margin: 1.5rem auto;
  border: 2px solid black;
  border-radius: 12px;
  overflow: hidden;
  padding: 1rem;
  transition: all 1s;
  text-align: right;
}

.list-container ol {
  margin-top: 1rem;
}

.list-container li {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1%;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(1,1,1, 0.2);
  animation: appear 0.2s linear;
  color: rgb(44, 44, 44);
}